<ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>E-mail Address</ion-label>
          <ion-input type="email" [(ngModel)]="email" (keyup)="loginKeyup($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>PASSWORD</ion-label>
          <ion-input type="password" [(ngModel)]="password" (keyup)="loginKeyup($event)"></ion-input>
        </ion-item>
      </ion-card-content>
      <div padding>
        <button ion-button (click)="gotoRegister()">Register</button>
        <button ion-button (click)="login()">Log In</button>
      </div>
    </ion-card>
  </ion-content>
  