<ion-header>
    <ion-navbar>
      <ion-title>Register</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-item>
      <ion-label floating>E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="profile.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Status</ion-label>
      <ion-input type="text" [(ngModel)]="profile.status"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone number</ion-label>
      <ion-input type="text" [(ngModel)]="profile.phone"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="register()">Register</button>
    </ion-item>
  </ion-content>
  