<ion-tabs>
  <ion-tab tabsHideOnSubPages="true" [root]="chat" [rootParams]="params" tabTitle="Chat" tabIcon="chatboxes"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="friends" [rootParams]="params" tabTitle="Friends" tabIcon="contacts"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="profile" [rootParams]="params" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>