<ion-header>
  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ng-container *ngFor="let chat of chatList | async">
      <ion-item *ngIf="chat.profile" (click)="gotoMessage(chat)" class="gotomsg">
          <ion-avatar item-start><img [src]="chat.profile.avatar"></ion-avatar>
          <p>{{ chat.profile.firstName }} {{ chat.profile.lastName }}</p>
          <p>{{ chat.msg }}</p>
          <ion-badge item-end *ngIf="chat.unread" color="danger">{{chat.unread}}</ion-badge>
      </ion-item>
  </ng-container>
</ion-content>
