page-chat {
    .gotomsg:hover{
        background-color: rgb(172, 166, 255);
        cursor: pointer;
        border-radius: 4px;
    }
    .gotomsg{
        cursor: pointer;
        border-radius: 4px;
    }
}
