<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
  
  
  <ion-content padding>
    <ion-card *ngIf="profile">
      <div padding style="background-color:rgba(94, 102, 89, 0.3);">
        <img [src]="profile.avatar" style="width:200px; height: 200px; margin:auto; border-radius: 100000000px;">
      </div>
      <ion-card-content>
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input [readonly]="editable" type="text" [value]="profile.firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input readonly type="text" [value]="profile.lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>status</ion-label>
          <ion-input readonly type="text" [value]="profile.status"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input readonly type="text" [value]="profile.phone"></ion-input>
        </ion-item>
      </ion-card-content>
      <button ion-button (click)="logout()">Logout</button>
    </ion-card>
  </ion-content>
  