<ion-header>
  <ion-navbar>
    <ion-title>friends</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ng-container *ngFor="let friend of friendList | async">  
    <ion-item *ngIf="friend.key != uid" (click)="gotoMessage(friend)" class="gotomsg">
        <ion-avatar item-start><img [src]="friend.avatar" alt="Avatar"></ion-avatar>
        <p>{{ friend.firstName }} {{ friend.lastName }}</p>
        <span item-end padding>{{friend.status}}</span>
    </ion-item>
  </ng-container>
</ion-content>
