<ion-header>
  <ion-navbar>
    <ion-title>{{ person.firstName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>
  <ng-container *ngFor="let msg of msgList | async">
    <ion-item *ngIf="msg.fromID != me else myMessage">
      <ion-avatar item-left>
        <img [src]="person.avatar">
      </ion-avatar>
      <h2>{{person.firstName}}</h2>
      <p>{{msg.msg}}</p>
    </ion-item>
    <ng-template #myMessage>
      <ion-item class="chat_right" *ngIf="currentUser">
        <ion-avatar item-right>
          <img [src]="currentUser.avatar">
        </ion-avatar>
        <h2>{{currentUser.firstName}}</h2>
        <p><ion-badge *ngIf="msg.unread" round>{{ msg.unread }}</ion-badge> {{msg.msg}}</p>
      </ion-item>
    </ng-template>
  </ng-container>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-textarea [(ngModel)]="inputMsg" placeholder="Enter the message"></ion-textarea>
        </ion-col>
        <ion-col col-3>
          <button ion-button (click)="sendMessage()">Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>